<div class="row mt-2">
        <div class="col-12">
            <div class="card">
                <h2 class="h6 card-header">Lorem, ipsum.</h2>
                <ul class="list-unstyled text-danger">
                  <li>Lorem ipsum dolor sit.</li>
                  <li>Exercitationem maxime aliquam id?</li>
                  <li>Dignissimos quos iste rem.</li>
                  <li>Architecto esse blanditiis sed.</li>
                  <li>Tenetur recusandae voluptatum in.</li>
                </ul>
            </div>
      </div>

         