
        <!-- ng generate component home/une-->
        <!-- EMMET => h2>lorem4 -->
        <h2>Lorem ipsum dolor sit.</h2>
        <!-- EMMET figure>img-->
        <figure class="row my-5">
          <img src="https://via.placeholder.com/400x200" alt="" class="col-6">
          <img src="https://via.placeholder.com/400x200" alt="" class="col-6">
        </figure>
      
        Lorem ipsum dolor sit amet consectetur baalbalbablablabalbablablab adipisicing elit. Veritatis sequi rem amet illum aliquam fugit quae perspiciatis commodi nobis voluptate libero, aut sit quasi. Doloribus sequi dolor quod vitae architecto?
        
    
      