<div class="container">

<!-- barre menu  -->
<app-menu></app-menu>


<!-- coeur de page  -->
<!-- EMMET => .row>(div.col-10>lorem)+div.col-2>lorem -->

<div class="row">

    <div class="col-8">
      <!-- .row>article.col-3*8>img[src="https://via.placeholder.com/200x100"].img-fluid+h3>lorem2-->
      <app-une></app-une>
      <app-grille></app-grille>
    </div>
    
    <div class="col-4">
      <!-- dans cette zone du design on va ajouter de petits blocs -->
      <!-- .row>.col-12>(h2>lorem2)+ul>li*5>lorem4 -->
      <!-- d'intéresser au cards dans bootstrap -->
    
        <app-last-article></app-last-article>
        <app-map></app-map>
        <app-newsletter></app-newsletter>

        
    </div>
  
<!-- pied de page  -->

</div>